@model IEnumerable<Company>;

@{
    ViewData["Title"] = "Home Page";
    var cultureInfo = new System.Globalization.CultureInfo("vi-VN");
}

<style>
    #card-body {
        background-color: lightgrey;
        border: 1px solid grey;
    }
</style>

<div class="container-fluid">
    <h1 class="text-center">
        Mobile Page
    </h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-4">
                <div>
                    @foreach(var item in Model)
                    {
                        <div class="border">
                            <a class="link-primary btn">@item.CompanyName</a>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-8">
                @foreach (var item in Model)
                {
                     var mobiles = item.Mobiles;
                    <div class="row">
                        @foreach (var mobile in mobiles)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="card shadow-sm">
                                    <img class="bd-placeholder-img card-img-top" src="/lib/images/@mobile.MobileImage" width="100%" height="225" alt="Card image cap">

                                    <div class="card-body">
                                        <h4>@mobile.MobileName</h4>
                                        <p class="text-danger">@string.Format(cultureInfo, "{0:C3}", mobile.Price)</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
            
        </div>
    } else
    {
        <h1 class="text-center">Vui lòng đăng nhập để xem</h1>
    }
</div>
